:root{
--color-white:#fff;
--color-light:#f0eff5;
--color-gray-light:#86848c;
--color-gray-dark:#56555e;
--color-dark:#27282f;
--color-primary:rgb(71,7,234);
--color-primary-light:rgba(71,7,234,.2);
--padding-1:1rem;
--padding-2:8px;
--radius-1:1rem;
--radius-2:6px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:var(--color-light);
color:var(--color-dark);
min-height:100vh;
}

img{width:100%;display:block}

nav{
background:var(--color-white);
padding:1rem 0;
}

nav .container{
width:96%;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
position:relative;
}

.logo{width:7rem}

.search-bar{
background:var(--color-light);
padding:var(--padding-2) 1.6rem;
border-radius:var(--radius-2);
display:flex;
gap:1rem;
align-items:center;
width:32vw;
position:absolute;
left:15%;
}

.search-bar input{
background:transparent;
width:100%;
color:var(--color-dark);
}

.profile-area{
display:flex;
align-items:center;
gap:3rem;
}

.theme-btn{
display:flex;
width:5rem;
height:2rem;
background:var(--color-light);
border-radius:var(--radius-2);
cursor:pointer;
}

.theme-btn span{
width:50%;
display:flex;
align-items:center;
justify-content:center;
}

.theme-btn .active{
background:var(--color-dark);
color:#fff;
border-radius:var(--radius-2);
}

.profile{
display:flex;
align-items:center;
gap:1rem;
}

.profile-photos{
width:3rem;
height:3rem;
border-radius:50%;
overflow:hidden;
}

main{
display:grid;
grid-template-columns:16rem auto 30rem;
gap:2rem;
width:96%;
margin:1rem auto 4rem;
}

aside{
background:var(--color-white);
border-radius:var(--radius-1);
padding:1rem;
height:88vh;
display:flex;
flex-direction:column;
}

.sidebar{
display:flex;
flex-direction:column;
gap:.3rem;
}

.sidebar a{
display:flex;
align-items:center;
gap:1.2rem;
padding:.9rem;
color:var(--color-gray-dark);
border-radius:var(--radius-2);
transition:.3s;
}

.sidebar a:hover{
background:var(--color-primary-light);
color:var(--color-primary);
}

.middle,.right{
background:var(--color-white);
border-radius:var(--radius-1);
min-height:60vh;
}
